@import url("https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/roboto-slab.min.css");

body {
    margin: 0 auto;
    max-width: 80ch;
    font-size: 16px;
    line-height: 1.5;
    padding: 2rem;
    color: #333;
    font-family: 'Roboto Slab', sans-serif;
}

img {
    max-width: 100%;
    outline: #333 solid 1px;
}