header {
    transform: rotate(90deg);
    transform-origin: left top;
    margin-left: 4rem;
    position: fixed;
    text-wrap: nowrap;
}

main {
    margin-left: 3rem;
    padding: 2rem;
    background-color: #f6f6f6;
}
